_build
# Executable
eff.exe
docs/try/jseff.bc.js

# Backup files
*~

# Silly Mac OS X files
.DS_Store

# VSCode
.vscode
.devcontainer

# Dune takes care of merlin
.merlin

misc/code-generation-benchmarks/generate-graphs/tables/*.table
graphs.exe