_build
eff

# Backup files
*~

# Silly Mac OS X files
.DS_Store

# Compiler generated code - once compiler is fixed, this should be cleaned up
_tmp
_tmp_no_opt
tests/code-generation/pure/*.ml
tests/code-generation/pure/*.eff

.devcontainer
.DS_Store
.merlin
.vscode
eff.exe
docs/try/jseff.bc.js
